<launch>
	
	<node pkg="colmap" name="colmap_calib_node" type="colmap_calib_node.py" output="screen">
	<param name="dense" value="False"/>
	<param name="workspace" value="./tmp/colmap"/>
	<param name="image_num" value="10"/>
	<param name="distance" value="2"/>
	<param name="rotation" value="5"/>
	<param name="yml_dir" value="./yml/colmap"/>
	<param name="yml_name" value="camera_param.yaml"/>
	</node>
	
</launch>
